.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
}

.left {
    border-right: 1px solid #000;
}

.right {
    border-left: 1px solid #000;
}

.top {
    border-bottom: 1px solid #000;
}

.bottom {
    border-top: 1px solid #000;
}

.box {
    aspect-ratio: 1 / 1;
}