.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
}

.columnA{
    border-right: 1px solid #000;
}

.columnB{
    border-right: 1px solid #000;
}

.row1{border-bottom: 1px solid #000;
}
.row2{
    border-bottom: 1px solid #000;
}


.box {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}